body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

 .header, .footer {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    margin-left: 10%;
    padding: 20px 40px;
    width: 70%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    color: #555;
    flex: 1;
    margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #FF464F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #e03e48;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-danger ul {
    margin: 0;
    padding-left: 20px;
}

.alert-danger li {
    list-style-type: disc;
}

.footer a {
    color: #FF464F;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #e03e48;
}

.gender {
    margin-right: 5px;
}

.gender + label {
    margin-right: 20px;
}